<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropDownMenu</title>
    <link href="../css/header.css" rel="stylesheet">
    <link href="pages/homepage/static/css/images/backround.jpg" rel="icon"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <base href="/group16/">
</head>
<body>
<header>
    <div class="Header_menu-bar" id="Header">
        <ul>
            <li><a href="pages/log-in page/static/templates/log-in page.html"><i class="fa fa-users"></i> התחברות </a></li>
            <li class="active"><a href="pages/donationpage/static/templates/donationpage.html">לתרומות</a></li>

            <div class="search-box">
                <input class="search-txt" name="" placeholder="Type to search" type="text">
                <a class="searc-btn" href="#"><i class="fa fa-search"></i></a>
            </div>
            <li><a href="#"><i class="fa fa-phone"></i> יצירת קשר </a></li>
            <li><a href="#"><i class="fas fa-hands-helping"></i>השירותים שלנו</a>
                <div class="submenu-services">
                    <ul>
                        <li><a href="pages/CatalogPage/static/templates/catalogpage.html">שירותים<i
                                class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">זכויות<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">ביטוח לאומי<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">טפסים<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">ייעוץ<i class="fa fa-angle-left"></i></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-user"></i>אנחנו</i></a>
                <div class="submenu-aboutus">
                    <ul>
                        <li><a href="pages/About-Us/static/templates/About-Us.html">אודותינו<i
                                class="fa fa-angle-left"></i></a></li>
                        <li><a href="pages/Our-Team/static/templates/Out-Team.html">הצוות<i
                                class="fa fa-angle-left"></i></a></li>
                    </ul>
                </div>
            </li>
            <div class="logo">
                <li id="LemonIcon"><a
                        href="pages/homepage/static/templates/homepage.html"><img
                        src="images/LemonAid-R1-01.png"></a></li>
            </div>
        </ul>
    </div>
</header>
</body>
</html>