<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="pages/footer/static/css/images/backround.jpg" rel="icon"/>
    <link href="../css/footerc.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <base href="/group16/">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
</head>
<body>
<footer>
    <div class="up-section">
        <div class="footerlogo">
            <a class="f-logo" href="#" id="LemonIcon"><img
                    src="pages/footer/static/css/images/LemonAid-R1-transparent.png"></a>
        </div>
        <ul>
            <h1>השירותים שלנו</h1>
            <li><a href="#">הטבות</a></li>
            <li><a href="#">זכויות</a></li>
            <li><a href="#">ביטוח לאומי</a></li>
            <li><a href="#">טפסים</a></li>
            <li><a href="#">ייעוץ</a></li>
        </ul>

        <ul>
            <h1>אנחנו</h1>
            <li><a href="#">אודותינו</a></li>
            <li><a href="#">הצוות</a></li>
        </ul>
        <ul>
            <h1>יצירת קשר</h1>
            <li><a href="#">+9725086463367</a></li>
            <li><a href="#">Masho #Street 5</a></li>
            <li><a href="#">Israel</a></li>
            <li><a href="#">Blaa</a></li>
        </ul>
    </div>

    <div class="dwn-section">
        <ul>
            <h1>Company</h1>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>

        <ul>
            <h1>About</h1>
            <li><a href="#">אודותינו</a></li>
            <li><a href="#">הצוות</a></li>
        </ul>
        <div class="social">
            <h1>Social</h1>
            <div class="social-cons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="search">
            <h1>Email</h1>
            <label>
                <input placeholder="Enter Your Email" type="email">
            </label>
        </div>
    </div>
    <p class="copyright">Going To 2020</p>
</footer>

</body>
</html>