<!DOCTYPE html>
<html lang="en">
<head>
    <title>LemonAid-Product2</title>
    <meta charset="UTF-8">
    <link href="../css/productpage2.css" rel="stylesheet">
    <link href="../css/productpage2.js" rel="JavaScript File">
    <link href="pages/homepage/static/css/images/backround.jpg" rel="icon"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
    <base href="/group16/">
</head>
<body>
<header>
    <div class="Header_menu-bar" id="Header">
        <ul>
            <li><a href="pages/log-in page/static/templates/log-in page.html"><i class="fa fa-users"></i> התחברות </a>
            </li>
            <li class="active"><a href="pages/donationpage/static/templates/donationpage.html">לתרומות</a></li>

            <div class="search-box">
                <input class="search-txt" name="" placeholder="Type to search" type="text">
                <a class="searc-btn" href="#"><i class="fa fa-search"></i></a>
            </div>
            <li><a href="#"><i class="fa fa-phone"></i> יצירת קשר </a></li>
            <li><a href="#"><i class="fas fa-hands-helping"></i>השירותים שלנו</a>
                <div class="submenu-services">
                    <ul>
                        <li><a href="pages/CatalogPage/static/templates/catalogpage.html">שירותים<i
                                class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">זכויות<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">ביטוח לאומי<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">טפסים<i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">ייעוץ<i class="fa fa-angle-left"></i></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-user"></i>אנחנו</i></a>
                <div class="submenu-aboutus">
                    <ul>
                        <li><a href="pages/About-Us/static/templates/About-Us.html">אודותינו<i
                                class="fa fa-angle-left"></i></a></li>
                        <li><a href="pages/Our-Team/static/templates/Out-Team.html">הצוות<i
                                class="fa fa-angle-left"></i></a></li>
                    </ul>
                </div>
            </li>
            <div class="logo">
                <li id="LemonIcon"><a
                        href="pages/homepage/static/templates/homepage.html"><img
                        src="images/LemonAid-R1-01.png"></a></li>
            </div>
        </ul>
    </div>
    </div>
</header>


<section class="product-section">
    <main class="container">

        <!-- Left Column / Image -->
        <div class="left-column">
            <img alt="psycologic" src="https://s1.kikar.co.il/th/data/auto/nadm/tq/jxqrihvv__w715h440q90.jpg">
            <div class="overlay">טיסה חלומית בכדור פורח- חוויה שאין שני לה.</div>
        </div>


        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>הטבות</span>
                <h1>טיסה בכדור פורח</h1>
                <p>טיסה חופשית בשמיי הארץ בכדור פורח הינה חווית טיסה יוצאת דופן שמתחילה בשעות הבוקר המקסימות באתר ההמראה
                    של Sky Trek כדורים פורחים עם שתייה חמה, מאפים ביתיים והיכרות עם הטייס המקצועי שלכם אשר לו אלפי שעות
                    טיסה, ניסיון רב (וקסם אישי...)
                </p>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <span>בחר מספר שעות טיסה רצויות</span>

                    <div class="cable-choose">
                        <button>שעה אחת</button>
                        <button>שעתיים</button>
                        <button>3 שעות</button>
                    </div>

                    <a href="#">לקריאת חוות דעת על Sky Trek לחץ כאן</a>
                </div>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">

                <span>300 ₪ </span>
                <a class="cart-btn" href="#">להזמנה</a>
            </div>
        </div>
    </main>
</section>

<section class="catalog-section">
    <div class="card">
        <img alt="doctor" sizes="100%"
             src="https://images1.ynet.co.il//PicServer4/2015/12/01/6668345/666833901001599640360no.jpg">
        <div class="price">180 ₪</div>
        <h1>פסיכולוג</h1>
        <p>סדרה של מספר מפגשים עם פסיכולוג מומחה בתחום הטיפול ההוליסטי אשר יעזור להתמודד עם הסיטואציה ולהבין כיצד לפעול
            באופן הנכון ביותר</p>
        <div class="button-size">
            <button>להזמנה</button>
        </div>
    </div>
    <div class="card">
        <img alt="lawyer" sizes="100%"
             src="https://www.moneycrashers.com/wp-content/uploads/2019/03/find-good-lawyer-1068x713.jpg">
        <div class="price">150 ₪</div>
        <h1>עורך דין מומחה</h1>
        <p>עורך דין מומחה בענייני הטבות מס מהמדינה למשפחות שהוצאתן הרפואית מקשה על המצב הכלכלי.</p>
        <div class="button-size">
            <button>להזמנה</button>
        </div>
    </div>
    <div class="card">
        <img alt="tutor" sizes="100%"
             src="https://theeducationinsider.org/wp-content/uploads/2017/06/tutoring-in-manhattan.jpg">
        <div class="price">180 ₪</div>
        <h1>מורה פרטי במתמטיקה</h1>
        <p>מורה פרטי מנוסה במתמטיקה לכיתות א' - יב' אשר יעזור בפתררון שיעורי הבית, הכנה למבחנים, והבנת החומר בצורה קלה
            יותר</p>
        <div class="button-size">
            <button>להזמנה</button>
        </div>
    </div>
    <div class="more">
        <p> מוצרים קשורים שגם יכולים לעניין אותך:</p>
    </div>
</section>
<marquee behavior="alternate" scrollamount="5">:) תרמו לנו ועזרו לנו לצמוח</marquee>

<!-- Container element -->
<div class="parallax"></div>


<footer>
    <div class="up-section">
        <div class="footerlogo">
            <a class="f-logo" href="pages/homepage/static/templates/homepage.html" id="LemonIconFooter"><img
                    src="pages/footer/static/css/images/LemonAid-R1-transparent.png"></a>
        </div>

        <ul>
            <h1>יצירת קשר</h1>
            <li><a href="#">+9725086463367</a></li>
            <li><a href="#">Masho #Street 5</a></li>
            <li><a href="#">Israel</a></li>
            <li><a href="#">Blaa</a></li>
        </ul>

        <ul>
            <h1> השירותים שלנו </h1>
            <li><a href="pages/CatalogPage/static/templates/catalogpage.html">שירותים</a></li>
            <li><a href="#">זכויות</a></li>
            <li><a href="#">ביטוח לאומי</a></li>
            <li><a href="#">טפסים</a></li>
            <li><a href="#">ייעוץ</a></li>
        </ul>

        <ul>
            <h1> אנחנו </h1>
            <li><a href="pages/About-Us/static/templates/About-Us.html">אודותינו</a></li>
            <li><a href="pages/Our-Team/static/templates/Out-Team.html">הצוות</a></li>
        </ul>
    </div>

    <div class="dwn-section">
        <ul>
            <h1>תרומות</h1>
            <li><a href="pages/donationpage/static/templates/donationpage.html">תרמו לנו ועזרו לנו לצמוח</a></li>
        </ul>

        <ul>
            <h1>דרושים</h1>
            <li><a href="#">למשרות</a></li>
        </ul>

        <div class="social">
            <h1>חפשו אותנו ברשתות</h1>
            <div class="social-cons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="search">
            <h1>Email</h1>
            <label>
                <input placeholder="Enter Your Email" type="email">
            </label>
        </div>
    </div>
    <p class="copyright">Design by group 16, 2020</p>
</footer>

</body>
</html>